profiles {
    test {
        params {
            input_csv = 'test/input.csv'
            outdir = 'outputs'
        }
        docker.enabled = true
    }
    tower {
        process {
            cpus = 4 * task.attempt}
            memory = {8.GB * task.attempt}
            maxRetries = 3
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
        }
    }
}

docker {
    enabled = true
}